{% extends "layout.html" %}


{% block title %}Categories{% endblock %}

{% block content %}

<!-- adding products to table using a modal form-->

<!-- Button trigger modal -->
<div class="mymodal container">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add Category
    </button>

    <!-- Modal -->
    <div class="modal fade modalsize" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Category</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form action="/expense_categories" method="POST" class="mymodalbody row gy-2 gx-3 align-items-center">

                        <label for="">Category Name</label>
                        <input type="text" placeholder="Category Name" name="categoryname" required>

                        <!-- <div class="modal-footer"> -->
                        <input type="submit" class="btn btn-primary"></input>
                        <!-- </div> -->

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- category table -->
<div class="container productable">
    <table id="myTable" class="display" border="2">
        <thead>
            <tr>
                <th>Id</th>
                <th>Category Name</th>
                <!-- th for editing -->
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for p in mycategories %}
            <tr>
                <td>{{p[0]}}</td>
                <td>{{p[1]}}</td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal{{p[0]}}">
                        Edit
                    </button>

                    <!-- modal form to edit products -->

                    <div class="modal fade" id="exampleModal{{p[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Category</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>

                                <div class="modal-body">
                                    <form action="/updatecategories" method="POST"
                                        class="row gy-2 gx-3 align-items-center">

                                        <input type="hidden" name="id" value="{{p[0]}}">

                                        <label for="name">Category Name:</label>
                                        <input value="{{p[1]}}" type="text" name="categoryname" required><br><br>

                                        <button type="submit" class="btn btn-primary">Update</button>

                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}