{% extends "layout.html" %}


{% block title %}Home{% endblock %}

{% block content %}

<!-- carousel -->

<div id="carouselExampleSlidesOnly" class="container carousel slide caru1" data-bs-ride="carousel">
    <div class="carousel-inner caru">
        <div class="carousel-item active">
            <img src="{{ url_for('static', filename='cc.jpg') }}" class="d-block w-100" alt="image">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color: black;">Analytics</h5>
                <p style="color: black;">Its now Easy to to know how your business is performing</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{ url_for('static', filename='aa.jpg') }}" class="d-block w-100" alt="img">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color: white;">Manage Sales</h5>
                <p style="color: white;">Track your sales by analyzing sales performance, and monitor your business
                    revenue</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{ url_for('static', filename='cc.jpg') }}" class="d-block w-100" alt="image">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color: black;">Manage Products</h5>
                <p style="color: black;">This involves uploading, editing, and tracking stock levels</p>
            </div>
        </div>
    </div>
</div>


<!-- cards -->

<div class="container card1">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 jk">
            <div class="card">
                <img src="{{ url_for('static', filename='a.jpg') }}" alt="image">
                <br>
                <h3>Analytics Dashboard</h3>
                <br>
                <p>This a visual tool that displays key business metrics, data trends, and insights in an
                    interactive
                    format. It helps to track performance, make data-driven decisions, and identify
                    opportunities for improvement.</p>
                <div class="btn1">
                    <a href="/dashboard"><button type="submit">Continue to Analytics</button></a>
                </div>
            </div>
        </div>


        <div class="col-12 col-sm-12 col-md-4 jk">
            <div class="card">
                <img src="{{ url_for('static', filename='b.jpg') }}" alt="image">
                <br>
                <h3>Manage Products</h3>
                <br>
                <p> This involves uploading, editing, and tracking stock levels. You can add new products by
                    entering details like name, price, and stock quantity. Editing features allow updates to product
                    information.</p>
                <div class="btn1">
                    <a href="/products"><button type="submit">Continue to Products</button></a>
                </div>
            </div>
        </div>


        <div class="col-12 col-sm-12 col-md-4 jk">
            <div class="card">
                <img src="{{ url_for('static', filename='c.jpg') }}" alt="image">
                <br>
                <h3>Manage Sales</h3>
                <br>
                <p>Track your sales by analyzing sales performance, and monitor your business revenue. You can add
                    new
                    sales entries.
                    This ensures efficiency and profitability for your business</p>
                <div class="btn1">
                    <a href="/sales"><button type="submit">Continue to Sales</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}