{% extends "layout.html" %}


{% block title %}Products{% endblock %}

{% block content %}

<!-- adding products to table using a modal form-->

<!-- Button trigger modal -->
<div class="mymodal container">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add Product
    </button>

    <!-- Modal -->
    <div class="modal fade modalsize" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form action="/products" method="POST" class="mymodalbody row gy-2 gx-3 align-items-center">

                        <label for="">Product Name</label>
                        <input type="text" placeholder="Product Name" name="productname" required>

                        <label for="">Buying Price</label>
                        <input type="number" placeholder="Buying Price" name="buyingprice" required>

                        <label for="">Selling Price</label>
                        <input type="number" placeholder="Selling Price" name="sellingprice" required>

                        <!-- <div class="modal-footer"> -->
                        <input type="submit" class="btn btn-primary"></input>
                        <!-- </div> -->

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- products table -->
<div class="container productable">
    <table id="myTable" class="display" border="2">
        <thead>
            <tr>
                <th>Id</th>
                <th>Product Name</th>
                <th>Buying Price</th>
                <th>Selling Price</th>
                <!-- th for editing -->
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for p in myproducts %}
            <tr>
                <td>{{p[0]}}</td>
                <td>{{p[1]}}</td>
                <td>{{p[2]}}</td>
                <td>{{p[3]}}</td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal{{p[0]}}">
                        Edit
                    </button>

                    <!-- modal form to edit products -->

                    <div class="modal fade" id="exampleModal{{p[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Product</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>

                                <div class="modal-body">
                                    <form action="/updateproducts" method="POST"
                                        class="row gy-2 gx-3 align-items-center">

                                        <input type="hidden" name="id" value="{{p[0]}}">

                                        <label for="name">Product Name:</label>
                                        <input value="{{p[1]}}" type="text" name="name" required><br><br>
                                        <label for="buyingPrice">Buying Price:</label>
                                        <input value="{{p[2]}}" type="number" name="buying_price" step="0.01"
                                            required><br><br>
                                        <label for="sellingPrice">Selling Price:</label>
                                        <input value="{{p[3]}}" type="number" name="selling_price" step="0.01"
                                            required><br><br>

                                        <button type="submit" class="btn btn-primary">Update</button>

                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}