{% extends "layout.html" %}


{% block title %}Sales{% endblock %}

{% block content %}

<!-- form adding sales to table using a modal form-->

<!-- Button trigger modal -->
<div class="mymodal container">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add Sale
    </button>

    <!-- Modal -->
    <div class="modal fade modalsize" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Sale</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form action="/sales" method="POST" class="mymodalbody row gy-2 gx-3 align-items-center">
                        <label for="productname">Product Name</label>
                        <select name="pid" id="">
                            {% for p in products %}
                            <!-- this loops product id in products table indexed at p[0] and displays productname indexed p[1] while selecting a sale -->
                            <option value="{{p[0]}}">{{p[1]}}</option>
                            {% endfor %}
                        </select>
                        <label for="quantity">Quantity</label>
                        <input type="number" name="soldquantity" placeholder="Enter Quantity" required>

                        <!-- <div class="modal-footer"> -->
                        <input type="submit" class="btn btn-primary"></input>
                        <!-- </div> -->

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- sales table -->
<div class="container productable">
    <table id="myTable" class="display" border="2">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pid</th>
                <th>Quantity</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for s in mysales %}
            <tr>
                <td>{{s[0]}}</td>
                <td>{{s[1]}}</td>
                <td>{{s[2]}}</td>
                <td>{{s[3]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}