<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sales</title>

    <!-- tables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Favicon -->
    <link href="{{ url_for('static', filename='logo.png') }}" rel="icon">

    <!-- SE0 -->
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>


<body>

    <!-- navigation -->

    <nav class="navbar navbar-expand-lg bg-body-tertiary nav11" data-bs-theme="dark">
        <div class="container-fluid">
            <a href="/"><img src="{{ url_for('static', filename='logo.png') }}" width="50px" height="50px"
                    alt="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 kilonav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sales">Sales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/stock">Stock</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/expenses">Expenses</a>
                    </li>
                </ul>

                <div class="btn1">
                    <a href="/logout" style="padding-right: 15px;"><button>Logout</button></a>
                </div>

            </div>
        </div>
    </nav>

    <!-- form adding sales to table using a modal form-->

    <!-- Button trigger modal -->
    <div class="mymodal container">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add Sale
        </button>

        <!-- Modal -->
        <div class="modal fade modalsize" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Sale</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <form action="/sales" method="POST" class="mymodalbody row gy-2 gx-3 align-items-center">
                            <label for="productname">Product Name</label>
                            <select name="pid" id="">
                                {% for p in products %}
                                <!-- this loops product id in products table indexed at p[0] and displays productname indexed p[1] while selecting a sale -->
                                <option value="{{p[0]}}">{{p[1]}}</option>  
                                {% endfor %}
                            </select>
                            <label for="quantity">Quantity</label>
                            <input type="number" name="soldquantity" placeholder="Enter Quantity" required>

                            <!-- <div class="modal-footer"> -->
                                <input type="submit" class="btn btn-primary"></input>
                            <!-- </div> -->

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- sales table -->
    <div class="container productable">
        <table id="myTable" class="display" border="2">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Pid</th>
                    <th>Quantity</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for s in mysales %}
                <tr>
                    <td>{{s[0]}}</td>
                    <td>{{s[1]}}</td>
                    <td>{{s[2]}}</td>
                    <td>{{s[3]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>



    <!-- footer -->


    <div class="footercopyright">
        <div>
            <p>Copyright <i class="fa-solid fa-copyright"></i> eZafar 2025. <br> Developed by IBRAHIM DEROW -
                Zafar : +254 799 717 402</p>
        </div>
    </div>


    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>


    <!-- initializer data table styling -->
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();  // Initialize DataTables on your table
        });
    </script>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>